<script lang="ts">
    import { PhuckService } from '../lib/phuck.service';
    import { map } from 'rxjs';
    import { onMount } from 'svelte';
    import { main3d } from '../babylon/main3d';

    const appId = 'phuck-debugging';
    const roomId = Date.now().toString(32).slice(-4).toUpperCase();

    const phuckService = new PhuckService();

    const numPeers$ = phuckService.peers$.pipe(
        map(p => p.size)
    );

    const phuckData$ = phuckService.orientation$;

    let isListening = false;

    function startListening() {
        isListening = true;
        phuckService.startListening(appId, roomId);
    }

    function resetForward() {
        phuckService.resetPointer();
    }

    let listeningText = '';
    $: {
        listeningText = 
            !isListening    ? 'Press Start' :
            $numPeers$ == 0 ? '⌛ Waiting For Controller'
                            : '✅ Connected'
    }

    onMount(async () =>{
        const engine = await main3d(phuckService);
        phuckService.setEngine(engine);
    });
</script>

<form>
    <label>
        <h3>AppID</h3>
        <input readonly value={appId} type="text">
    </label>

    <label>
        <h3>RoomID</h3>
        <input readonly value={roomId} type="text">
    </label>
</form>
<div>Listening: {listeningText}</div>
<button on:click={startListening}>Start Listening</button>
<hr />
<button on:click={resetForward}>Reset Forward</button>

<div class="rawValues">
    <b>Orientation Alpha: </b>
    <span>{$phuckData$?.alpha}</span>
    <b>Orientation Beta: </b>
    <span>{$phuckData$?.beta}</span>
    <b>Orientation Gamma: </b>
    <span>{$phuckData$?.gamma}</span>

    <hr>
    
    <b>Phone Rotation X: </b>
    <span>{$phuckData$?.phoneRotation?.x}</span>
    <b>Phone Rotation y: </b>
    <span>{$phuckData$?.phoneRotation?.y}</span>
    <b>Phone Rotation z: </b>
    <span>{$phuckData$?.phoneRotation?.z}</span>
    <hr>
    
    <b>Pointer Rotation X: </b>
    <span>{$phuckData$?.pointer?.rotation?.x}</span>
    <b>Pointer Rotation y: </b>
    <span>{$phuckData$?.pointer?.rotation?.y}</span>
    <b>Pointer Rotation z: </b>
    <span>{$phuckData$?.pointer?.rotation?.z}</span>
    <hr>
    
    <b>Pointer Position X: </b>
    <span>{$phuckData$?.pointer?.position?.x}</span>
    <b>Pointer Position y: </b>
    <span>{$phuckData$?.pointer?.position?.y}</span>
    <b>Pointer Position z: </b>
    <span>{$phuckData$?.pointer?.position?.z}</span>
    <hr>
</div>

<style>
    .rawValues {
        display: grid;
        grid-template-columns: auto 1fr;
        justify-content: center;
        max-width: 50vmin;
        gap: .5rem;
    }

    .rawValues > * {
        margin: auto 0;
    }

    .rawValues span {
        text-align: left;
    }

    .rawValues hr {
        grid-column: span 2;
    }
</style>
